.content-category-container
    padding: 2vw 5vw
    background-color: #343434
    font-family: 'Roboto', sans-serif
    .content-category
        text-align: left
        color: #343434
        & h3
            color: #E5E5E5
    .content-category-buttons
        display: flex
        margin-bottom: 2rem
        margin-top: 2rem
    .content-category-buttons button
        font-family: 'Roboto', sans-serif
        background-color: transparent
        color: #838383
        font-weight: bold
        border-radius: 50px
        height: 2.5rem
        width: 7rem
        border: none
        &:hover
            cursor: pointer
            border-radius: 50px
            transition: all 0.5s
            &:focus
                background-color: #FCA311
                color: white
                border: none
                padding: 0
                outline: 0
    .content-container
        display: grid
        grid-gap: 1rem
        grid-template-columns: repeat(5, auto)
        grid-template-rows: repeat(3, 10rem)
        overflow: auto
        & img
            width: 100%
            height: 100%
            object-fit: cover
