.content-category-container{
    padding: 2rem 2rem 2rem 2rem;
    background-color: #343434;
    margin-bottom: -43px;
    margin-top: 18px;
    .content-category{
        text-align: left;
        color: #343434;
    }.content-category-button{
        display: flex;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }.content-category-button button{
        background-color: transparent;
        color: #838383;
        font-weight: bold;
        border-radius: 50px;
        width: 9rem;
        margin-top: -43px;
        border: none;
        }&:hover{
            cursor: pointer;
        }&:focus{
                background-color: #FCA311;
                color: white;
                border: none;
                padding: 0;
                outline: 0;
        }.link{
            color: #FFF;
        }.link:hover {
           color: #FFF;
        }
}