
.container-edit-profile {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    box-sizing: border-box;
    background-color: #343434;
    color: #e5e5e5;
    flex-direction: column;
  }
  
  .signupbtn {
    background-color: #fca311;
    border: none;
    border-radius: 5px;
    width: 60%;
    margin-left: 90px;
    font-size: large;
    height: 40px;
    margin-top: 25px;
  }
  .label-edit-profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 75%;
    height: auto;
    font-size: 16px;
    border-radius: 5px;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
  }
  
  .input-edit-profile {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .link {
    color: #e5e5e5;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .profile-image {
    border-radius: 50%;
    height: 200px;
    margin-top: 8px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .header-container {
    background-color: #fca311;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: 5px;
    color: #343434;
  }
  .header-container-h1 {
    color: #343434;
    text-align: center !important;
  }
  .header-container-edit-profile {
    background-color: #fca311;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .close-btn-header-container {
    background-color: #fca311;
    border: none;
    float: left;
    font-size: 50px;
  }
  .check-btn-header-container {
    background-color: #fca311;
    border: none;
    float: right;
    font-size: 50px;
  }

  @media screen and (max-width: 600px) {
    .container {
        width: 100%;
        display: flex;
        width: fit-content(20em);
        flex-direction: column;
    }

}