.body-faq {
    background-color: #343434;
    text-align: center !important;
}
.header-body {
    text-align: center;
}
.container-h2 {
    background-color: #FCA311;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: #343434
}
