.footer-container
    background-color: #343434
    color: #E5E5E5
    font-weight: normal
    padding: 2vw 5vw
    font-family: 'Roboto', sans-serif
    max-width: 100vw
    .footer
        .footer-content
            display: grid
            grid-template-columns: auto auto auto
            grid-template-rows: repeat(3, auto)
            max-width: 100%
            overflow: auto
            .footer-logo
                text-align: left
                margin-left: 0
                & img
                    max-width: 10rem
                    height: auto
                    margin-bottom: 2rem
                    padding-left: 0
                    margin-left: 0
            .footer-link
                margin-left: 3rem
                text-align: left
            .footer-media
                margin-left: 3rem
                text-align: left
                .footer-media-download
                    .footer-download-image
                        .footer-gplay
                            max-width: 8rem
                            height: auto
                            margin-right: 1rem
                        .footer-appstore
                            max-width: 8rem
                            height: auto
                .margin-extra
                    margin-top: 1rem
                .footer-media-social
                    .footer-facebook
                        max-width: 3rem
                        height: 3rem
                        margin-right: 1rem
                    .footer-pinterest
                        margin-right: 1rem
                        max-width: 3rem
                        height: 3rem
                    .footer-instagram
                        max-width: 3rem
                        height: 3rem
    .footer-copyright
        display: flex
        color: white
