
.container {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 15px;
  padding-bottom: 50px;
  box-sizing: border-box;
  background-color: #343434;
  color: #e5e5e5;
  margin-left: 350px;
  margin-right: 350px;
}

.signupbtn {
  background-color: #fca311;
  border: none;
  border-radius: 5px;
  width: 60%;
  margin: 40px;
  font-size: large;
  height: 40px;
}
.label {
  display: block;
  margin: auto;
  border: none;
  width: 75%;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  flex-direction: column;
  margin-top: 15px;
}

.input {
  border: none;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  float: center;
  font-size: 16px;
}
.link {
  color: #e5e5e5;
  text-decoration: underline;
  cursor: pointer;
}

.profile-image {
  border-radius: 50%;
  height: 200px;
  margin-top: 8px;
}

.header-container {
  background-color: #fca311;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 5px;
  color: #343434;
}
.header-container-h1 {
  color: #343434;
  text-align: center !important;
}
.header-container-edit-profile {
  background-color: #fca311;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.close-btn-header-container {
  background-color: #fca311;
  border: none;
  float: left;
  font-size: 50px;
}
.check-btn-header-container {
  background-color: #fca311;
  border: none;
  float: right;
  font-size: 50px;
}

.btn-group-character{
    background-color: #fca311;
    border: none;
    float: left;


}
.card-container {
    background-color: #343434;
    width: 100%;
  }

// .row-character ::after {
//   content: "";
//   display: table;
//   clear: both;
// }

// .col-character {
//   float: left !important;
//   width: 50%;
//   padding: 0 10px;
// }

// .card-character {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   padding: 16px;
//   text-align: center;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
//   grid-auto-rows: minmax(200px, auto);
//   grid-gap: 1rem;
// }

// .card-character:hover {
//     transform: scale(1.05);
//     box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);

// }

.card-title {
  font-size: large;
  color: #e5e5e5;
}
// @media screen and (max-width: 600px) {
//     .container {
//         padding-left: 70px;
//         padding-right: 70px;
//         padding-top: 15px;
//         padding-bottom: 50px;
//         box-sizing: border-box;
//         background-color: #343434;
//         color: #e5e5e5;
//         margin-left: 350px;
//         margin-right: 350px;
//       }
      

// }
