@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
.scss-dived{
    .btn{
        width: 450px;
        height: 112px;
        background-color: #FCA311;
        color: #FFFFFF;
        border-radius: 15px;
        @media (max-width: 768px) {
            margin-left: 0px;
            margin-top: -10px;
            width: 250px;
        }
        @media (max-width: 360px) {
            margin-left: 0px;
            margin-top: 0px;
            font-size: 4vw;
            width: 150px;
            height: 60px;
        }
    }.btns{
        width: 450px;
        height: 112px;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 15px; 
        margin-left: 70px; 
        color: #FFFFFF;
        @media (max-width: 768px) {
            margin-left: 68px;
            margin-top: 14rem;
            width: 250px;
        }
        @media (max-width: 360px) {
            margin-left: 27px;
            margin-top: 12rem;
            font-size: 4vw;
            width: 150px;
            height: 60px;
        
        }
    }.jumbotron{
        background-image: url("../img/pic1.jpg");
        // background-size: cover;
        margin-bottom: -20px;
        opacity: 0.8;
        // width: 100vw;
        max-width: 100vw;
    }.ref{
        width: 235px;
        height: 38px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        margin-left: 179px;
        margin-top: -43px;
        color: #FFFFFF;
        @media (max-width: 768px) {
            margin-left: 210px;
            margin-top: -44px;
        }
        @media (max-width: 360px) {
            margin-left: 117px;
            margin-top: -55px;
            font-size: 5vw;
        }
    }.star2{
        width: 283px;
        height: 42px;
        margin-left: -143px;
        margin-top: -10px;
        font-size: xx-large;
        @media (max-width: 768px) {
            margin-left: -120px;
            margin-top: -65px;
        }
        @media (max-width: 360px) {
            margin-left: -189px;
            margin-top: -26px;
            font-size: 6vw;
        }
    }.lead{
        color: #FFFFFF;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        @media (max-width: 768px) {
            margin-left: 7px;
            margin-top: 1rem;
            margin-bottom: -12rem;
            font-size: 4vw;
        }
        @media (max-width: 360px) {
            margin-left: 0px;
            margin-top: -12px;
            font-size: 5vw;
        }
    }.display-4{
        width: 464px;
        height: 84px;
        left: 174px;
        top: 251px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 84px;
        color: #FFFFFF;
        @media (max-width: 768px) {
            margin-left: 0px;
            margin-top: 30px;
        }
        @media (max-width: 360px) {
            margin-left: 0px;
            margin-top: -38px;
            font-size: 8vw;
        }
        }
}