.container-signin {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    box-sizing: border-box;
    background-color: #343434;
    color: #e5e5e5;
    flex-direction: column;
  }
  
  .signin-btn {
    background-color: #fca311;
    border: none;
    border-radius: 5px;
    width: 60%;
    margin-left: 90px;
    font-size: large;
    height: 40px;
  }
  .label-signin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 75%;
    height: auto;
    font-size: 16px;
    border-radius: 5px;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
  }
  
  .input-signin {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 600px) {
      .container {
          width: 100%;
          display: flex;
          width: fit-content(20em);
          flex-direction: column;
      }

  }