.navbar-container
    background: #343434
    color: #E5E5E5
    font-weight: normal
    height: 6rem
    max-width: 100vw
    top: 0
    z-index: 99
    padding: 3vh 5vw 3vh 5vw
    font-family: 'Roboto', sans-serif
    align-content: center
    vertical-align: middle
    .navbar
        display: flex
        padding : 0 auto
        .navbar-logo
            max-width: 10rem
            height: auto
            padding-left: 0
            margin-left: 0
    .navbar h3
        font-size: 1.75rem
        right: 0
        vertical-align: middle
        margin-bottom: 0
    .navbar input
        min-width: 30vw
        max-width: 50vw
        height: 2rem
        overflow: hidden

@media ( max-width: 600px )
    .navbar-search
        display: none
