@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
.sass-dive
    background-color: #343434
    h1
        color: #ffffff
        font-family: Roboto
        font-style: normal
        font-weight: bold
        font-size: 64px
        line-height: 75px
    .line
        margin-left: 303px
        margin-top: -42px
        margin-bottom: 28px
        border: 2px solid #E5E5E5
    .lines
        margin-left: 261px
        margin-top: -42px
        margin-bottom: 28px
        border: 2px solid #E5E5E5
    p
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 48px
        line-height: 56px
        color: #E5E5E5


        
    