.container {  
    background-color: #343434;
    // display: grid;
    // grid-gap: 10px; 
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));  
    // grid-template-rows: repeat(3, 50px); 
    // grid-row-gap: 16px;
    // grid-column-gap: 16px;
    // height: 100% auto;
    // width: 100% auto;
    // max-width: 100vw;
    // flex-wrap: nowrap
    
}

.body {
    background-color: #343434;
}
// .card {
//     width: 18rem;
//     margin-top: 10px;
// }
.card-img-top {
    border-radius: 50%;
}
.card-title {
    color: #E5E5E5;
}

.btn-character {
    background-color: #FCA311;
    border: none;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 35px;
}