.pagination-home
    max-width: 100%
    overflow: auto
    padding: 2vw 5vw
    background-color: #343434
    font-family: 'Roboto', sans-serif

.pagination
    justify-content: center

home
    background-color: #343434
    font-family: 'Roboto', sans-serif
    
.content-container
    background-color: #343434
    font-family: 'Roboto', sans-serif
    margin: 2rem 0
