@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
.scss-div{
    background-color: #343434;
    Button{
        background-color: #FCA311;
        color: #ffffff;
    }.bt{
        background-color: #FCA311;
        color: #ffffff;
        @media (max-width: 360px) {
            margin-top: -63px;
            margin-left: 71px;
        }
        @media (max-width: 768px) {
            margin-left: 68px;
            margin-top: -65px;
            
        }
    }h1{
        color: #E5E5E5;
        font-family: 'Roboto', sans-serif;
        @media (max-width: 768px) {
            margin-left: 40px;
            
        }
        @media (max-width: 360px) {
            margin-left: 0px;
            
        }
    }h4{
        color: #E5E5E5;
        font-family: 'Roboto', sans-serif;
    }h6{
        color: #E5E5E5;
        font-family: 'Roboto', sans-serif;
    }span{
        color: #E5E5E5;
        font-family: 'Roboto', sans-serif;
    }.lead{
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }.tes{
        max-width: 21.3%;
        @media (max-width: 768px) {
            margin-left: 45px;
            max-width: 53.3%;
            
        }
        @media (max-width: 360px) {
            margin-left: -33px;
            
        }
    }.try{
        max-width: 21.3%;
        @media (max-width: 360px) {
            margin-left: 45px;
            max-width: 21.3%;
            
        }
        @media (max-width: 768px) {
            margin-left: 45px;
            max-width: 22.3%;
            
        }
    }.profimg{
        max-width: 13.6%;
    }hr{
        @media (max-width: 768px) {
            margin-left: 45px;
            
        }
    }.img{
        @media (max-width: 768px) {
            margin-left: 45px;
            height: 100%;
            width: 100%;
            
        }
        @media (max-width: 360px) {
            margin-left: 45px;
            height: 200px;
            width: 200px;
            
        }
    }
}

        
