@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
.scss-dives{
    background-color: #343434;
    h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 56px;
    margin-left: 119px;
    margin-top: -100px;
    color: #E5E5E5;
    }.uname {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    margin-left: 119px;
    margin-top: -100px;
    color: #E5E5E5;
    }p{
    margin-left: 6%;
    color: #E5E5E5;
    margin-bottom: 5%;
    margin-top: 1%;
    @media (max-width: 768px) {
        margin-left: 15%;
        
    }
    @media (max-width: 360px) {
        margin-left: 40%;

    }
    }.star{
    width: 283px;
    height: 42px;
    margin-left: -20px;
    margin-top: -10px;
    font-size: xx-large;
    }.textArea{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    width: 1469px;
    height: 168px;
    border-radius: 5px;
    margin-left: -20%;
    @media (max-width: 768px) {
        margin-left: 100px;
        width: 600px;
    }
    @media (max-width: 360px) {
        margin-left: 100px;
        width: 200px;
    }
    }.placeholder{
    width: 424px;
    height: 91.64px;
    left: 380px;
    top: 1282px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    }Button{
    height: 33px;
    width: 150px;
    margin-top: -7%;
    position: relative;
    left: 45%;
    background-color: #FCA311;
    color: #ffffff;
    }
}



    

    

    