.body {
    background-color: #343434;
}
.image-card {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.btn-size-small {
    margin-bottom: 10px;
    border: none;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #FCA311;
}
.btn-size-medium {
    margin-bottom: 10px;
    border: none;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #FCA311;
}
.btn-size-large {
    margin-bottom: 10px;
    border: none;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: #FCA311;
}
.btn-dark-mode {
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}
.btn-light-mode {
    margin-bottom: 10px;
    margin-left: 20px;
    border: none;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}
.card-body {
    background-color: #343434;
}